<div class="widgets">
  <div class="row">
    <div class="col-12">
      <ba-card [cardTitle]="title" baCardClass="with-scroll">
        <div class="document-container">
          <div class="col-2 edit-document-container hidden-print"> 
            <ul class="list-group">
              <li class="list-group-item active">
                Actions
              </li>
              <li class="list-group-item">
                <button (click)="createPdf()" class="btn btn-block btn-info">
                    Generate PDF
                </button>
              </li>
              <li class="list-group-item">
                <button (click)="toggleEditMode()" class="btn btn-block btn-info">
                   Modify content
                </button>
              </li>
              <li class="list-group-item">
                <div class="order-container">
                  Content order:
                  <div class="d-block" *ngFor="let c of content; let i = index">
                    {{ i + 1 }}.)  {{c.id}}#{{c.type}}
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div size="A4" >
            <div class="content" #pdfPage>
              <div class="col-12 clearfix">
                <document-head [editable]="state.editable"></document-head>
                <div class="contents" dnd-sortable-container [dragEnabled]="state.editable" [sortableData]="content">
                  <div class="content"  *ngFor="let c of content; let i = index" 
                                        dnd-sortable [sortableIndex]="i" 
                                        [ngClass]="{'movable': state.editable}" 
                                        [dragEnabled]="state.editable">
                    <document-content  [type]="c.type" [content]="c.value" ></document-content>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ba-card>
    </div>
  </div>
</div>
  