<div class="widgets">
  <div class="row">
    <div class="col-12">
      <ba-card [cardTitle]="title" baCardClass="with-scroll">
        <button (click)="createPdf()" class="hidden-print">
          Generate PDF
        </button>
        <div size="A4" >
          <div class="content" #pdfPage>
            <div class="col-12 clearfix">
              <document-head></document-head>
              <document-content></document-content>
            </div>
          </div>
        </div>
      </ba-card>
    </div>
  </div>
</div>
  