<div class="col-12 row no-gutters">
  <div class="col-12 row no-gutters">
    <div class="col-6">
    <strong>2017-20-38</strong>
    </div>
    <div class="col-6 text-right">
      <img src="../../../../../assets/img/tess/tieto-logo-mn.png" alt="">
    </div>
  </div>
  <div class="col-12 row mt-1 no-gutters">
    <div class="col-6">
      <strong>
        <p>Title</p>
      </strong>
      <p>Name</p>
      <a href="email">email@test.se</a>
    </div>
    <div class="col-6 text-right">
      <p>Tieto Sweden Healthcare & Welfare AB</p>
      <p>Teknikringen 8, 581 30</p>
      <p>Linköping</p>
    </div>
  </div>
  <div class="col-12 row no-gutters justify-content-end">
    <div class="small-divider col-4 mr-2 my-3"></div>
  </div>
  <div class="col-12 row no-gutters mt-1">
    <div class="col-6">
      <strong>
        <p>2017-20-28</p>
      </strong>
    </div>
    <div class="col-6 text-right">
      <p>
        <strong>Erling Sjöström</strong>
      </p>
      <p>0702-74 873 962</p>
    </div>
  </div>
</div>
<div [hidden]="!editable">
  <i class="fa fa-edit clickable"></i>
</div>

