<div class="col-12 no-gutters">

  <ng-container *ngIf="isText(); else typeProducts">
    <div class="text-items">
      <div *ngFor="let textItem of content" [innerHTML]="textItem" class="text-item"></div>
    </div>
  </ng-container>
  
</div>

<ng-template #typeProducts>
  <product-head title="Products" priceTypeFixed="Price" priceTypeVariable="Price / Unit" ></product-head>
  <div *ngFor="let item of content" class="row items">
    <product-item [item]="item"></product-item>
  </div>
  <product-footer [priceVariableTot]="priceVariableTot()"></product-footer>
</ng-template>