<div class="col-12 no-gutters">
  <div class="row head no-gutters py-1">
    <div class="col-md-2">
      <strong>Products</strong>
    </div>
    <div class="col-md-2 offset-md-6">
      Price
    </div>
    <div class="col-md-2 text-right pr-2">
      Price per test
    </div>
  </div>
  <div class="row items">
    <div class="col-12 row item py-1">
        <div class="col-1">1010</div>
        <div class="col-7">Insert important article text here</div>
        <div class="col-2">5200 kr</div>
        <div class="col-2 text-right pr-2">110 kr</div>
    </div>
    <div class="col-12 row item py-1">
        <div class="col-1">1010</div>
        <div class="col-7">Insert important article text here</div>
        <div class="col-2">5200 kr</div>
        <div class="col-2 text-right pr-2">110 kr</div>
    </div>
    <div class="col-12 row item py-1">
        <div class="col-1">1010</div>
        <div class="col-7">Insert important article text here</div>
        <div class="col-2">5200 kr</div>
        <div class="col-2 text-right pr-2">110 kr</div>
    </div>
    <div class="col-12 row item py-1">
        <div class="col-1">1010</div>
        <div class="col-7">Insert important article text here</div>
        <div class="col-2">5200 kr</div>
        <div class="col-2 text-right pr-2">110 kr</div>
    </div>
    <div class="col-12 row item py-1">
        <div class="col-1">1010</div>
        <div class="col-7">Insert important article text here</div>
        <div class="col-2">5200 kr</div>
        <div class="col-2 text-right pr-2">110 kr</div>
    </div>
  </div>
</div>