<div class="widgets">

  <div class="row">
    <ba-card baCardClass="with-scroll">
      <div class="col-12">
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="exampleInputAmount">Filter</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-search"></i>
              </div>
              <input #filterTable type="text" class="form-control" placeholder="Filter..">
            </div>
          </div>
        </form>
        <p-dataTable  (onEdit)="onEdit($event)"  (onEditComplete)="onEditComplete($event)" [value]="content.data"  
                      [globalFilter]="filterTable" tableStyleClass="ng-dataTable" [editable]="state.editMode"
                      [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20, 10, 30]" 
                      [loading]="state.loading" [ngClass]="{'edit-mode': state.editMode}">
            <p-column   [style]="{'width': '80px'}" >
                <ng-template pTemplate="header">
                    <span>Actions</span>
                </ng-template>
                <ng-template let-user="rowData" pTemplate="body">
                  <div class="text-center">
                    <i class="fa fa-remove clickable"(click)="remove(user.Id)"></i>
                    <i class="fa fa-edit clickable" (click)="edit(user.Id)"></i>
                  </div>
                </ng-template>
            </p-column>
            <p-column field="Id" header="Id" [sortable]="true" [style]="{'width': '80px'}"></p-column>
            <p-column field="Name" header="Name" [sortable]="true"></p-column>
            <p-column field="WindowsUser" header="Windows User" [sortable]="true"></p-column>
            <p-column field="Roles" header="Roles" [sortable]="true">
              <ng-template let-col let-user="rowData" pTemplate="body">
                     <span *ngIf="user[col.field].length > 0">{{ user[col.field] | arraySort: "Name" | arrayMapJoin: "Name" }}</span>
                     <span *ngIf="user[col.field].length == 0">No roles assigned</span>
              </ng-template>
            </p-column>
        </p-dataTable>
      </div>
    </ba-card>
  </div>
</div>
