@import "../../../theme/sass/conf/conf.scss";

div.save-changes-container {
  margin: 1em 0;
  button:disabled {
    cursor: default;
    &:hover {
      transform: none;
    }
  }
}


// ngprime DataTable
:host /deep/ div.ui-datatable{
  .ui-widget-content {
    background-color: $primary-dark;
  }
  .ui-datatable-loading-content {
    top: 40%;
  }
  .ui-paginator-bottom {
    background-color: $primary-dark;
    a.ui-paginator-element {
      color: $default-text;
      cursor: pointer;
      &:hover {
        background-color: $info-light-hover;
        color: $primary-dark;
        cursor: pointer !important;
      }
    }
  }
  table.ng-dataTable {
    border-color: $border;
    // TableHead
    .ui-datatable-thead > tr > th {
      background-color: $primary-dark;
      color: $default-text;
      font-weight: bold;
      &:hover {
        background-color: $primary-dark-hover;
      }
      &.ui-state-active {
        border-color: $border;
      }
    }
    tr.ui-widget-content{
     
      color: $default-text;
      cursor: default;
      .edit-mode & {
        cursor: text;
      }
      &.ui-datatable-even {
        background-color: darken($info-dark, 5%);
      }
      &.ui-datatable-odd {
        background-color: $info-dark;
      }

      td {
        padding: 0.2em 0.5em;
        line-height: 2em;
        .roles-btn {
          padding: 0 1em;
        }
        .roles-btn & {
          padding: 0;
        }
      }
    }
  }
  .ui-datatable-footer.ui-widget-header {
    background-color: $primary-dark;
    padding: 0;
  }
}

form.form-inline {
  div.input-group {
    div.input-group-addon {
      background: $primary-dark;
      color: white;
      border-color: $border;
      border: 1px 0 1px 1px solid;
    }
    input {
      color: $default-text;
      background-color: $info-dark;
    }
  }
 
}
